.content {
	margin-top:100px;
}

.podcast {
	min-height:100px;
	max-height:100px;
}

.podcast h1, h2, h3, h4 {
	margin:0;
	padding:0;
	line-height:25px;
}

.podcast a {
	color:#000;
	text-decoration:none;
}

.podcastinfo {
	padding:20px;
	font-size:large;
}