<div class="row">
	<div class="span3">
		<img src="{{.Image}}" />
	</div>
	<div class="span9">
		<h1>{{.Title}}</h1>
		<hr>
		<h3>{{.PubDateText}}</h3>
		<hr>
		<p>{{.Description}}</p>
		<hr>
		{{if .IsAudio}}
		{{if .Downloaded}}
		<audio type="{{.Type}}" src="../{{.DownloadedFilename}}" autoplay="false" controls>Sorry, couldn't play</audio>
		{{else}}
		<audio type="{{.Type}}" src="../{{.URL}}" autoplay="false" controls>Sorry, couldn't play</audio>
		{{end}}
		{{end}}
		{{if .IsVideo}}
		{{if .Downloaded}}
		<video type="{{.Type}}" src="../{{.DownloadedFilename}}" autoplay="false" controls>Sorry, couldn't play</video>
		{{else}}
		<video type="{{.Type}}" src="../{{.URL}}" autoplay="false" controls>Sorry, couldn't play</video>
		{{end}}
		{{end}}
	</div>
</div>